USE [myDatabase]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 9/10/2020 12:05:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LineOne] [nvarchar](50) NOT NULL,
	[SuiteNumber] [nvarchar](50) NULL,
	[City] [nvarchar](50) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[Lat] [float] NULL,
	[Long] [float] NULL,
 CONSTRAINT [PK_Sabio_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [LineOne], [SuiteNumber], [City], [State], [PostalCode], [IsActive], [Lat], [Long]) VALUES (2, N'test', N'233', N'cedf', N'sdsd', N'33feve', 1, 33.7473, 33.7473)
INSERT [dbo].[Addresses] ([Id], [LineOne], [SuiteNumber], [City], [State], [PostalCode], [IsActive], [Lat], [Long]) VALUES (3, N'64 Village Crossing', N'74', N'Atlanta', N'Georgia', N'31136', 1, 33.7473, -84.3824)
INSERT [dbo].[Addresses] ([Id], [LineOne], [SuiteNumber], [City], [State], [PostalCode], [IsActive], [Lat], [Long]) VALUES (5, N'this address', N'232', N'not johnsiohdfjosafh', N'dsfsdf', N'22311', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Addresses] OFF
